# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Save JDK 17 Path
        run: echo "JDK17_PATH=$JAVA_HOME" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Save JDK 21 Path
        run: echo "JDK21_PATH=$JAVA_HOME" >> $GITHUB_ENV

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml release-all -Djdk17="${{ env.JDK17_PATH }}" -Djdk21="${{ env.JDK21_PATH }}"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Spectra_CLIMS-release
          path: |
            dist/jdk17/**
            dist/jdk21/**
